@import "tailwindcss";

@theme {
  --animate-shimmer: shimmer 1.5s infinite;

  @keyframes shimmer {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100%);
    }
  }
}
